@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@theme {
  --font-Raleway: 'Raleway';
}
body {
  background: url('/Github-Pattern.png');
  background-size: cover;
  background-repeat: no-repeat;
}
button {
  cursor: pointer;
}
input:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: black !important;
}
.gradient_background {
  background: #007dfa;
  /* background: linear-gradient(
    180deg,
    rgba(0, 125, 250, 0.451) 0%,
    rgba(0, 37, 71, 0.702) 100%
  ); */
  background: linear-gradient(45deg, #132541 50%, #e87a64 120%);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-color: rgba(0, 37, 71, 0.702);
}
.highlighted {
  color: #007dfa;
  font-size: 2rem;
}
.no-pointer {
  pointer-events: none;
}
