@import 'tailwindcss';
button {
  cursor: pointer;
}
input:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: black !important;
}
.gradient_background {
  background: #314b63;
  background: linear-gradient(
    90deg,
    rgba(49, 75, 99, 1) 2%,
    rgba(0, 37, 71, 1) 100%
  );
}
